/
  Nosotros
  \==================================================
%section#nosotros.section.nopb
  .container
    .row
      .col-md-8.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Nosotros
          %p.animate{"data-animate" => "fadeInUp"}
            = data.general.about_us

          %h6.animate{"data-animate" => "fadeIn"}
            Empresas Participantes
  .container-fluid.content-empresas
    - data.companies.companies.each_with_index do |company, index|
      .col-lg-3.col-md-3.col-sm-6.col-xs-12.content-logo.animate{"data-animate" => "fadeIn"}
        .responsive-container
          .dummy
          .img-container
            .centrado
            %a{:href => company.url }
              %img{:src => company.image, :alt => company.title}/

/
  \==================================================
  End Nosotros



/
  Manifiesto
  \==================================================
%section#manifiesto.section
  .container
    .row
      .col-md-12.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Manifiesto
          .tabla
            - data.manifests.manifests.each_with_index do |manifest, index|
              .col-lg-4.col-md-4.col-sm-6.col-xs-12.content-manifiesto
                .ico-manifiesto.animate{"data-animate" => "flipInX"}
                  %img{:src => manifest.image, :alt => ""}/
                %h6.animate{"data-animate" => "fadeInUp"}
                  = manifest.title
                %p.animate{"data-animate" => "fadeInUp"}
                  = manifest.text

/
  \==================================================
  End Manifiesto


/
  Casos de éxito
  \==================================================
%section#casos.section
  .container
    .row
      .col-md-12.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Casos de éxito
          - data.proyects.proyects.each_with_index do |proyect, index|
            .col-lg-4.col-md-4.col-sm-6.col-xs-12.content-caso.animate{"data-animate" => "fadeInUp"}
              .content-img
                %img.img-responsive{:src => proyect.image, :alt => ""}/
              %h5
                = proyect.title
              %p
                = proyect.text

/
  \==================================================
  End Casos de éxito





/
  Contacto
  \==================================================
%section#contacto.section
  .container{"ng-controller" => "ContactCtrl"}
    .row
      .col-md-8.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Contacto
          %p.animate{"data-animate" => "fadeInUp"}
            = data.general.contact
          .col-lg-3.data-contact
            %img.animate{:src => "img/ico-send.png", :alt => "", "data-animate" => "fadeInUp"}/
            %span.animate{"data-animate" => "fadeInUp"}
              = data.general.email
          .col-lg-6.data-contact
            %img.animate{:src => "img/ico-dir.png", :alt => "", "data-animate" => "fadeInUp"}/
            %span.animate{"data-animate" => "fadeInUp"}
              = data.general.address
          .col-lg-3.data-contact
            %img.animate{:src => "img/ico-phone.png", :alt => "", "data-animate" => "fadeInUp"}/
            %span.animate{"data-animate" => "fadeInUp"}
              = data.general.phone
        %form.contact-form.animate{"name" => "form", "data-animate" => "fadeInUp", "ng-submit" => "processForm()"}
          .row
            .col-lg-6.form-group
              %input{:name => "name", :type => "text", :placeholder => "Nombre", "ng-model" => "contactForm.name.value"}/
              %span{:class => "help-block", "ng-show" => "contactForm.name.errors"}
                *{{contactForm.name.errors}}
            .col-lg-6.form-group
              %input{:name => "email", :type => "email", :placeholder => "E-Mail", "ng-model" => "contactForm.email.value"}/
              %span{:class => "help-block", "ng-show" => "contactForm.email.errors"}
                *{{contactForm.email.errors}}
          .row
            .col-lg-6.form-group
              %input{:name => "phone", :type => "text", :placeholder => "Teléfono", "ng-model" => "contactForm.phone.value"}/
              %span{:class => "help-block", "ng-show" => "contactForm.phone.errors"}
                *{{contactForm.phone.errors}}
            .col-lg-6.form-group
              %input{:name => "company", :type => "text", :placeholder => "Empresa", "ng-model" => "contactForm.company.value"}/
              %span{:class => "help-block", "ng-show" => "contactForm.company.errors"}
                *{{contactForm.company.errors}}
          .row
            .col-lg-12.form-group
              %textarea{:name => "message", :rows => "1", :placeholder => "Mensaje", "ng-model" => "contactForm.message.value"}
              %span{:class => "help-block", "ng-show" => "contactForm.message.errors"}
                *{{contactForm.message.errors}}
            
          .overview
            .col-lg-12.mensaje-enviado
              %span{"ng-show" => "form.$submitted"}
                {{sendStatus}}
            .col-lg-3
            .col-lg-6
              %input{:type => "submit", :value => "Hablemos"}/
            .col-lg-3

        


/
  \==================================================
  End Contacto











/
  Footer
  \==================================================
%footer.section{"data-animate" => "fadeIn"}
  .container.acenter
    %img.centrado{:src => "img/logo-transparente.png", :alt => ""}/
    %ul
      %li
        %a.fb{:href => ""}
      %li
        %a.tw{:href => ""}
      %li
        %a.in{:href => ""}
      %li
        %a.be{:href => ""}
    %p.nomb.nomt.col-lg-4.nofloat.center
      ©2015 MITI, todos los derechos reservados.


/
  \==================================================
  End Footer 
