/
  Nosotros
  \==================================================
%section#nosotros.section.nopb
  .container
    .row
      .col-md-8.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Nosotros
          %p.animate{"data-animate" => "fadeInUp"}
            = data.general.about_us

          %h6.animate{"data-animate" => "fadeIn"}
            Empresas Participantes
  .container-fluid.content-empresas
    - data.companies.companies.each_with_index do |company, index|
      .col-lg-3.col-md-3.col-sm-6.col-xs-12.content-logo.animate{"data-animate" => "fadeIn"}
        .responsive-container
          .dummy
          .img-container
            .centrado
            %img{:src => company.image, :alt => company.title}/

/
  \==================================================
  End Nosotros



/
  Manifiesto
  \==================================================
%section#manifiesto.section
  .container
    .row
      .col-md-12.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Manifiesto
          .tabla
            - data.manifests.manifests.each_with_index do |manifest, index|
              .col-lg-4.col-md-4.col-sm-6.col-xs-12.content-manifiesto
                .ico-manifiesto.animate{"data-animate" => "flipInX"}
                  %img{:src => manifest.image, :alt => ""}/
                %h6.animate{"data-animate" => "fadeInUp"}
                  = manifest.title
                %p.animate{"data-animate" => "fadeInUp"}
                  = manifest.text

/
  \==================================================
  End Manifiesto


/
  Casos de éxito
  \==================================================
%section#casos.section
  .container
    .row
      .col-md-12.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Casos de éxito
          - data.proyects.proyects.each_with_index do |proyect, index|
            .col-lg-4.col-md-4.col-sm-6.col-xs-12.content-caso.animate{"data-animate" => "fadeInUp"}
              .content-img
                %img.img-responsive{:src => proyect.image, :alt => ""}/
              %h5
                = proyect.title
              %p
                = proyect.text

/
  \==================================================
  End Casos de éxito





/
  Contacto
  \==================================================
%section#contacto.section
  .container
    .row
      .col-md-8.centrado.nofloat
        .overview
          %h3.animate{"data-animate" => "fadeInUp"}
            Contacto
          %p.animate{"data-animate" => "fadeInUp"}
            = data.general.contact
          .col-lg-3.data-contact
            %img.animate{:src => "img/ico-send.png", :alt => "", "data-animate" => "fadeInUp"}/
            %span.animate{"data-animate" => "fadeInUp"}
              = data.general.email
          .col-lg-6.data-contact
            %img.animate{:src => "img/ico-dir.png", :alt => "", "data-animate" => "fadeInUp"}/
            %span.animate{"data-animate" => "fadeInUp"}
              = data.general.address
          .col-lg-3.data-contact
            %img.animate{:src => "img/ico-phone.png", :alt => "", "data-animate" => "fadeInUp"}/
            %span.animate{"data-animate" => "fadeInUp"}
              = data.general.phone
        %form.contact-form.animate{:action => "", "data-animate" => "fadeInUp"}
          .col-lg-6
            %input.error{:name => "nombre", :type => "text", :placeholder => "Nombre"}/
          .col-lg-6
            %input{:name => "email", :type => "text", :placeholder => "E-Mail"}/
          .col-lg-6
            %input{:name => "telefono", :type => "text", :placeholder => "Teléfono"}/
          .col-lg-6
            %input{:name => "empresa", :type => "text", :placeholder => "Empresa"}/
          .col-lg-12
            %textarea{:name => "mensaje", :rows => "1", :placeholder => "Mensaje"}
          .overview
            .col-lg-12.listado-errores
              %ul
                %li
                  %span
                    * Ingrese su Nombre
                %li
                  %span
                    * Ingrese su Email
                %li
                  %span
                    * Ingrese su Mensaje
            .col-lg-12.mensaje-enviado
              %span
                Mensaje enviado correctamente, gracias por contactarnos.
            .col-lg-3
            .col-lg-6
              %input{:type => "submit", :value => "Hablemos"}/
            .col-lg-3


        


/
  \==================================================
  End Contacto











/
  Footer
  \==================================================
%footer.section{"data-animate" => "fadeIn"}
  .container.acenter
    %img.centrado{:src => "img/logo-transparente.png", :alt => ""}/
    %ul
      %li
        %a.fb{:href => ""}
      %li
        %a.tw{:href => ""}
      %li
        %a.in{:href => ""}
      %li
        %a.be{:href => ""}
    %p.nomb.nomt.col-lg-4.nofloat.center
      ©2015 MITI, todos los derechos reservados.


/
  \==================================================
  End Footer 
